body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.anchorTag {
  text-decoration: none !important;
}
.nav-link{
  margin-left:20px;
}
.nav-link:hover,.removeBlue:hover{
  color:blue;
}
.removeBlue{
  color:grey;
}
.footerText{
  font-size:0.75rem;
}
.footerAnchorMargin{
  margin-left:2px;
}
.paraText{
  font-size:1.1rem;
}
.TeamPhotos {
  border-radius: 50%;
  height: 15rem;
  width:15rem;
  margin:0 auto;
}
.FounderPhoto{
  border-radius:50%;
  height:19rem;
}
.box{
  border-radius:50%;
  border:2px solid rgba(0,0,0,0.1);
  width: 2rem;
  height:2rem;
  text-align: center;
}
