*{
    padding:0;
    margin:0;
}
.alignment{
    display:inline-flex;
    align-items: center;
    width:fit-content;
    justify-content: start;
}
.Text_size{
    font-size: 0.58rem;
    width:5rem
}
